<!-- @@master  = _layout.ejs  {"pagename":"index"} -->

<!-- @@block  =  specific_stylesheet-->
<link rel="stylesheet" type="text/css" href="css/vendor/swiper.css" />
<link rel="stylesheet" type="text/css" href="css/unit/index.css" />
<!-- @@close-->

<!-- @@block  =  specific_javascript-->
<script src="js/vendor/swiper.js"></script>
<script src="js/unit/index.js"></script>
<script>
	$(function() {

	});	
</script>
<!-- @@close-->
<!-- @@block  =  content-->
<section class="section-index">
	<h1>INDEX</h1>
	<article>
		<%=x%>
		<br>
		<%=x%>
		<br>
		<%=x%>
		<br>
		<%=x%>
	</article>
	<div class="btn-top">
		<picture>
			<img src="img/btn-top@2x.png" srcset="img/btn-top@2x.png 2x" alt="TOP">
		</picture>
	</div>
</section>
<!-- @@close-->

