<!-- @@master  = _layout.ejs  {"pagename":"sitemap"} -->
<!-- @@block  =  specific_stylesheet-->
<link rel="stylesheet" type="text/css" href="css/unit/sitemap.css" />
<!-- @@close-->

<!-- @@block  =  specific_javascript-->
<!-- <script src="js/unit/sitemap.js"></script> -->
<script>
	$(function() {
	});	
</script>
<!-- @@close-->
<!-- @@block  =  content-->
<section class="section-page section-sitemap">
	<div class="inner-wrap main-content">
		<ul class="list-sitemap">
			<% for(var i = 0; i<map.length; i++){ %>
			<li class="item-sitemap">
				<%= map[i].name %>
				<% if ( map[i].item != "" ) { %>
				<ul class="sublist-sitemap">
					<% for(var j = 0; j<map[i].item.length; j++){ %>
					<li class="subitem-sitemap"><a href="<%=map[i].item[j].url%>"><%=map[i].item[j].name%></a></li>
					<% } %>
				</ul>
				<% } %>
			</li>
			<% } %>
		</ul>
	</div>
</section>

<!-- @@close-->

