// Initial
@import "../initial";
article{
  line-height: 1.8;
  font-size: 15px;
  @media screen and (max-width:767px) {
    font-size: 14px;
  }
  h2{
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    color: $c-ci;
    padding-top: 1em;
    @media screen and (max-width:767px) {
      font-size: 15px;
    }
  }
}
p.intro{
  padding-bottom: 30px;
  @media screen and (max-width:767px) {
    padding-bottom: 15px;
  }
}
.article-terms{
  padding: 50px 20px;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width:767px) {
    padding: 15px 10px;
  }
}