@import "../initial";
[class^="open-"],.do-closepopup{
  cursor: pointer;
}
body{

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    @media screen and (max-width:$bp-m) {
      width: 5px;
      height: 5px;
    }
  }
  ::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    margin: 0 5px;
  }
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: rgba(128,128,128,0.3);
  }
  
}
/* SCRUCTURE */
.layout-popup-wrap{
  position: fixed;
  z-index: 102; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px 150px;
  line-height: 1;
  line-height: calc(100vh - 100px);
  width: 100%;
  font-size: $fz;
  color: #111111;
  font-weight: 500;
  text-align: center;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 1s;
  transition-timing-function: ease; 
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  &.is-on{
    opacity: 1;
  }
  @media screen and (max-width:$lt-bp-s) {
    padding: 50px 20px;
    line-height: calc(100vh - 100px);
  }
}
.layout-popup-background{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background-color: rgba(51,51,51,0);
  opacity: 0;

  &.is-on{
    background-color: rgba(51,51,51,0.9);
    opacity: 1;
  }
}

/* CHILDREN */
.layout-popup-wrap{
@import "lightbox-inner";
}

.tpl-content{
@import "lightbox-inner";  
}

/* POPUP ALERT */
.pop-alert{
  .layout-popup-wrap{
    z-index: 104;
  }
  .layout-popup-background{
    z-index: 103;
  }
}