// Initial
@import "../initial";

.wrap-table{
  max-width: 990px;
  margin-left: auto;
  margin-right: auto;

  .row{
    position: relative;
    padding-left: 220px;
    border-bottom: 1px solid #eee;
    @media screen and (max-width:767px) {
      padding-left: 0;
    }
    &:first-child{
      border-top: 1px solid #eee;
      @media screen and (max-width:767px) {
        border-top: 0;
      }
    }

    .col-left{
      width: 220px;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background-color: #f3f3f3;
      padding: 40px 30px;
      text-align: right;
      letter-spacing: 4px;
      font-weight: bold;
      @media screen and (max-width:767px) {
        width: auto;
        position: relative;
        top: auto;
        left: auto;
        bottom: auto;
        background-color: transparent;
        text-align: left;
        font-weight: bold;
        padding: 20px 10px 0 10px;
      }
      &::after{
        content: '';
        display: block;
        position: absolute;
        right: 0;
        // top: 50%;
        // margin-top: -10px;
        top: 40px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 10px 10px 0;
        border-color: transparent #ffffff transparent transparent;
      }
    }

    .col-right{
      width: auto;
      padding: 40px 30px;
      @media screen and (max-width:767px) {
        padding: 10px 10px 20px 15px;
        display: block;
      }
      ul.style-list{}
      ul.style-circlelist{
        text-align: center;
        li{
          width: 105px;
          display: inline-block;
          vertical-align: top;
          @media screen and (max-width:767px) {
            padding-bottom: 20px;
          }
        }
        .icon-circle{
          margin-left: auto;
          margin-right: auto;
          & + p{
            line-height: 1.4;
            padding-top: 5px;
          }
        }
      }
    }

  }
}
