// @import url(//fonts.googleapis.com/css?family=Open+Sans:400,300,700);
// @import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
// @import url(//fonts.googleapis.com/earlyaccess/cwtexhei.css);
@font-face {
  font-family: 'Chinese';
  unicode-range: #{"U+4E00-9FFF"};
  src: local(Noto Sans T Chinese), local(Lantinghei TC), local(LiHei Pro), local(微軟正黑體);
}