@import "../initial";

#header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 101;
  height: $header-h;
  line-height: $header-h;
  background-color: $c-ci;
  transition: transform 0.4s ease;
  &.style-slim{
  }
  @media screen and (max-width:767px) {
    height: $header-h-m;
    line-height: $header-h-m;
  }
}
.header-nav{
  display: inline-block;
  vertical-align: top;

  li{
    display: inline-block;
    vertical-align: top;

    &>a{
      display: inline-block;
      vertical-align: top;
      cursor: pointer;
      color: white;
      transition: color 0.2s ease;
      &:hover{
        text-decoration: underline;        
      }
    }
  }

  &>ul{
    &>li{
      &:hover{
        .header-subnav-list{
          visibility: visible;
          opacity: 1;           
        }
      }
      &:hover , &.style-hover , &.is-active{
        &>a{
          color: white;
        }
      }
      &.is-active{
        &>a{
          text-decoration: underline;
        }
      }
      &>a{
        display: block;
        position: relative;
        overflow: hidden;
      }
    }
  }
}

.header-nav-list{
  z-index: 2;
  height: 100%;
}

.header-subnav-list{
  /*structure*/
  position: absolute;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease , visibility 0.2s ease;
  /*style*/
  text-align: left;
  background-color: $c-ci;
  line-height: 1;
}

// open header時全畫面遮罩
#layout-view,#footer{
  &::after{
    // content: '';
    background-color: rgba(35,35,35,0.6);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease , visibility 0.3s ease;
  }
  body.is-coverd &{
    &::after{
      opacity: 1;
      visibility: visible;      
    }
  }
}


.icon-hamburger{
  display: block;
  position: relative;
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width:767px) {
    width: 20px;
    height: 20px;
  }
  .is-openmenu &{
    margin-top: -2px;
  }
  i{
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 1px;
    transition: all 0.3s ease;
    @media screen and (max-width:767px) {
      height: 2px;
    }
    &:nth-child(1){
      top: 0;
      left: 0;
      .is-openmenu &{
        transform: rotate(-30deg);
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;     
      }
    }
    &:nth-child(2){
      top: 8px;
      left: 0;
      @media screen and (max-width:767px) {
        top: 4px;
      }
      .is-openmenu &{
        opacity: 0;
      }
    }
    &:nth-child(3){
      top: 16px;
      left: 0;
      @media screen and (max-width:767px) {
        top: 8px;
      }
      .is-openmenu &{
        transform: rotate(30deg);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        // margin-top: 1px;
        top: 15px;
        @media screen and (max-width:767px) {
          top: 10px;
        }
      }        
    }
  }
}
.btn-hamburger{
  // width: 50px;
  height: 30px;
  padding-right: 20px;
  padding-top: 30px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  position: absolute;
  right: 0;
  z-index: 1;
  @media screen and (max-width:767px) {
    padding-right: 10px;
    padding-top: 18px;
  }
}

/*Mobile Menu*/
.header-menu{
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  text-align: center;
  overflow: auto;
  font-size: 26px;
  transition: all 0.3s ease-in-out;
  // background-color: rgba(0,0,0,0.8);
  min-height: 100%;
  color: $c-ci;
  background-color: white;
  @media screen and (max-width:767px) {
    font-size: 15px;
  }
  .is-openmenu &{
    opacity: 1;
    visibility: visible;
  }

  ul.menu-wrap{
    position: relative;
    padding-top: 70px;
    margin: 0 auto;
    letter-spacing: 5px;
    padding-bottom: 30px;
    text-align: center;

    @media screen and (max-width:767px) {
      padding-top: 40px;
    }
    li{
      background-color: white;
      // border-bottom: 1px solid #c9c9c9;
      &::first-child{
        // border-top: 1px solid #c9c9c9;
      }
      a{
        display: block;
        position: relative;
        line-height: 80px;
        cursor: pointer;
        @media screen and (max-width:767px) {
          line-height: 60px;
        }
        &:not(:last-child){
          &::after{
            content: '';
            display: inline-block;
            margin-left: 10px;
            vertical-align: text-top;
            margin-top: -5px;
            width: 20px;
            height: 11px;
            background:transparent url('../img/icon-arrow-down.svg') center no-repeat;
            background-size: contain;
            opacity: 0.5;
            position: absolute;
            top: 50%;
            @media screen and (max-width:767px) {
              width: 15px;
              height: 8px;
              margin-left: 5px;
            }
          }
        }
      }
      ul{
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
        line-height: 70px;
        font-size: 20px;
        color: $c-ci;
        @media screen and (max-width:767px) {
          line-height: 50px;
          font-size: 14px;
        }
        li{
          background-color: $c-ci;
          &:last-child{
            border-bottom: 0;
          }
        }
      }

      &.is-active{
        a:not(:last-child)::after{
          background-image: url('../img/icon-arrow-up.svg');
        }
        &>ul{
          // border-top: 1px solid #c9c9c9;
          max-height: 150vh;
        }
      }
    }

  }
  .btn-wrap{
    padding-bottom: 2em;
    .link-cart{
      display: inline-block;
      vertical-align: bottom;
    }
    .icon-cart{
      width: 30px;
      @media screen and (max-width:767px) {
        width: 20px;
      }
    }
    .list-lang{
      line-height: 30px;
      padding-left: 70px;
      @media screen and (max-width:767px) {
        line-height: 15px;
        padding-left: 40px;
      }
      li{
          padding-right: 35px;
          padding-left: 24px;
          border-color: $c-ci;
          @media screen and (max-width:767px) {
            padding-right: 18px;
            padding-left: 12px;
          }
        a{
          font-size: 30px;
          @media screen and (max-width:767px) {
            font-size: 15px;
          }
        }

      }
    }
  }
}

.header-overlap{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -1;
    // cursor: move;
  }