// Color
$c-ci: #59c !default;
$c-fb: #3b5998 !default;
$c-line: #91ba20 !default;
$c-red: #ed4c59 !default;
$c-green: #bbbd2d !default;
$c-blue: #4ca7ed !default;
$c-darkred: #a1000d !default;
$c-pink: #fdedee !default;

// Distance
$header-h: 50px !default;
$header-h-m: 40px !default;

// Font size
$fz: 15px;
$fzm: 13px;

// Breakpoint
$bp-xs: 640px;
$lt-bp-s: 767.99px;
$bp-s: 768px;
$lt-bp-m: 1023.99px;
$bp-m: 1024px;