
<meta charset="UTF-8">
<%# <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> %>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
<meta name="title" content="NEW SITE" />
<meta name="Author" content="" />
<meta name="Description" content="NEW SITE" />
<% var og = [{
    property: "og:title",
    content: "NEW SITE"
  },{
    property: "og:type",
    content: "website"
  },{
    property: "og:url",
    content: ""
  },{
    property: "og:image",
    content: "images/share1200x630.jpg"
  },{
    property: "og:site_name",
    content: "NEW SITE"
  },{
    property: "og:description",
    content: "NEW SITE"
  },{
    property: "og:locality",
    content: "Taiwan"
  },{
    property: "og:country-name",
    content: "Taiwan"
}] %>
<% for(var i = 0; i<og.length; i++){ %>
  <meta property="<%= og[i].property %>" content="<%= og[i].content %>" />
<% } %>
<title>NEW SITE</title>
<!-- FAV ICONS -->
<%# PC %>
<link href="img/jc_logo.ico" rel="shortcut icon" type="image/x-icon" />
<%# MOBILE %>
<%# include _head-smartphone-homescreen-setting %>
<!-- GLOBAL CSS -->
<link rel="stylesheet" type="text/css" href="css/vendor/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="css/global.css">

<%# Some Tracker %>