<div class="wrap-pager">
	<span class="pager-prev"><a href=""><i class="fa fa-angle-left" aria-hidden="true"></i><span class="on-mobilephone">上一頁</span></a></span><!-- 若在第一頁則不顯示 -->

	<ul class="list-pager on-deskpad">
		<li class="item-pager"><a href="">1</a></li>
		<li class="item-pager is-active"><a>2</a></li><!-- 所在PAGE : 有CLASS .is-active ，a沒有href -->
		<li class="item-pager "><a href="">3</a></li>
		<li class="item-pager "><a href="">4</a></li>
		<li class="item-pager "><a href="">5</a></li>
		<li class="item-pager "><a href="">6</a></li>
		<li class="item-pager "><a href="">7</a></li>
		<li class="item-pager "><a href="">8</a></li>
	</ul>

	<span class="pager-next"><a href=""><span class="on-mobilephone">下一頁</span><i class="fa fa-angle-right" aria-hidden="true"></i></a></span><!-- 若在最末頁則不顯示 -->
</div>	