<div class="section-certified">
	<div class="inner-wrap">
		<div class="inner">
			<h2><img src="img/logo-wf.svg" class="logo"></a><span>正品聲明</span></h2>
			<p>期望與您一同真切體驗 Wooderful life 的美好與＂木＂獨特細膩的質感；品牌商品皆多數為實體店舖販售為主，如您有需要購買任何 Wooderful life 的相關商品，請您查看銷售通路或與聯絡我們以得到您所需的協助。</p>
		</div>
	</div>
</div>